name: Secret scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  gitleaks:
    name: Run gitleaks scanning on the repository
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@v4
    - name: Run gitleaks
      uses: zricethezav/gitleaks-action@v2
      with:
        args: --repo-path=.
